@model IEnumerable<Latest_Staff_Portal.ViewModel.{{ model_name }}>

<div class="table-responsive">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="">
            <tr>{% for prop in properties %}
                <th>{{ prop.display_name }}</th>{% endfor %}
                @if (ViewBag.Status == "Open")
                    {
                        <th>Actions</th>
                    }
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>{% for prop in properties %}
                        <td>@{% if prop.type == 'DateTime' %}(item.{{ prop.csharp_name }}.ToShortDateString()){% else %}item.{{ prop.csharp_name }}{% endif %}</td>{% endfor %}
                        @if (ViewBag.Status == "Open")
                            {
                            <td>
                                <div style="text-align:center">
                                    <button class="btn btn-danger" style="color:whitesmoke; border-radius:10px" onclick="Delete{{ page_name }}Line('@item.Line_No');">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Delete Line
                                    </button>
                                </div>
                            </td>
                            }
                    </tr>
                }
            }
        </tbody>
    </table>
 <div align="right">
     @if (ViewBag.Status == "Open")
        {
            <button class="btn action-buttons" style="color:whitesmoke; border-radius:10px" onclick="Add{{ page_name }}Line();">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Line
            </button>
        }
</div>
</div>
<script>
    $("#datatable-buttons").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100],
        "responsive": true,
        language: {
            emptyTable: "No lines available. Click 'Add Line' to add line.",
            info: "Showing _START_ to _END_ of _TOTAL_ entries",
            infoEmpty: "No entries available",
            zeroRecords: "No matching records found"
        },
        columnDefs: [
            {
                targets: '_all',
                defaultContent: ""
            }
        ]
    });
</script>