public class {{ model_name }}
{
    public string No { get; set; }
    {% for param in parameters %}{% if param.name.lower() != 'docno' and param.name.lower() != 'userid' and param.name.lower() != 'lineno' %}
    public {{ param.type }} {{ param.csharp_name }} { get; set; }
    {% endif %}{% endfor %}
    // Dropdown lists for form fields - Replace ListOfYourDropdownProperty with the right property name
    // public List<SelectListItem> ListOfYourDropdownProperty { get; set; } = new List<SelectListItem>();
}