@model IEnumerable<Latest_Staff_Portal.ViewModel.{{ model_name }}>

@if (Model == null || !Model.Any())
{
    <div class="empty-state text-center" style="padding: 70px 20px;">
        <i class="fas fa-exclamation" style="font-size: 60px; color: #e5e7eb; margin-bottom: 18px;"></i>

        <h4 style="color: #334155; margin-bottom: 6px;">
            You're Quiet Here 🙂
        </h4>

        <p style="color: #64748b; max-width: 420px; margin: 0 auto;">
            No {{ page_name|lower }} records found.
            Click 'New {{ page_name }}' to get started.
        </p>
    </div>
}
else
{

<div class="table-responsive">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="">
            <tr>
                <th>Action</th>{% for prop in datatable_properties %}
                <th>{{ prop.display_name }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:right">
                            <button class="btn btn-primary btn-sm" onclick="View{{ page_name }}Doc('@item.{{ primary_key.csharp_name if primary_key else 'No' }}');">
                                <i class="fa fa-eye"></i> View
                            </button>
                        </td>{% for prop in datatable_properties %}
                        <td>@{% if prop.type == 'DateTime' %}(item.{{ prop.csharp_name }}.ToShortDateString()){% else %}item.{{ prop.csharp_name }}{% endif %}</td>{% endfor %}
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $("#datatable-buttons").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100],
        "responsive": true,
        language: {
            emptyTable: "No {{ page_name|lower }} available. Click 'New {{ page_name }}' to add",
            info: "Showing _START_ to _END_ of _TOTAL_ entries",
            infoEmpty: "No entries available",
            zeroRecords: "No matching records found"
        },
        columnDefs: [
            {
                targets: '_all',
                defaultContent: ""
            }
        ]
    });
</script>

}