@model List<{{ model_name }}>

<div class="table-responsive">
    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead style="background-color:black;color:white">
            <tr>
                <th>Action</th>
                {% for prop in datatable_properties %}
                <th>{{ prop.display_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:right">
                            <button class="btn btn-primary btn-sm" onclick="View{{ page_name }}Doc('@item.{{ primary_key.csharp_name if primary_key else 'No' }}');">
                                <i class="fa fa-eye"></i> View
                            </button>
                        </td>
                        {% for prop in datatable_properties %}
                        <td>@item.{{ prop.csharp_name }}</td>
                        {% endfor %}
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $("#datatable-buttons").DataTable({
        lengthChange: true,
        lengthMenu: [5, 10, 25, 50, 100],
        "responsive": true,
        language: {
            emptyTable: "No {{ page_name|lower }} available. Click 'New {{ page_name }}' to add",
            info: "Showing _START_ to _END_ of _TOTAL_ entries",
            infoEmpty: "No entries available",
            zeroRecords: "No matching records found"
        },
        columnDefs: [
            {
                targets: '_all',
                defaultContent: ""
            }
        ]
    });
</script>