@{
    ViewBag.Title = "{{ page_name }}";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">{{ page_name }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div style="text-align:right">
            <button class="action-buttons" onclick="New{{ page_name }}();">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> New {{ page_name }}
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="div{{ page_name }}List"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">
                    <label id="labelF"></label>
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Load{{ page_name }}List();
    var Successmsg = '@Request.RequestContext.HttpContext.Session["SuccessMsg"]';
    if (Successmsg != "") {
        Swal.fire('Success', Successmsg, 'success', true);
        $.ajax({
            type: "POST",
            url: "/Common/NullibySessions"
        });
    }
});

var Load{{ page_name }}List = function () {
    ShowProgress();
    $.ajax({
        async: true,
        type: "GET",
        dataType: 'HTML',
        contentType: false,
        processData: false,
        url: "/{{ page_name }}/{{ page_name }}List",
        success: function (data) {
            $("#div{{ page_name }}List").empty().html(data);
            HideProgress();
        },
        error: function () {
            HideProgress();
            Swal.fire("There is some problem to process your request. Please try after some time");
        }
    });
    }

    var View{{ page_name }}Doc = function (Code) {
        ShowProgress();
        var form = $('<form>', {
            action: '/{{ page_name }}/{{ page_name }}DocumentView',
            method: 'POST'
        }).append($('<input>', {
            type: 'hidden',
            name: 'code',
            value: Code
        }));
        form.appendTo('body').submit();
    }

    var New{{ page_name }} = function () {
        $("#labelF").text("New {{ page_name }}");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/{{ page_name }}/New{{ page_name }}',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }

    // Submit Document Function
    var Submit{{ page_name }} = function () {
        var isValid = true;

        // TODO: REPLACE THESE WITH ACTUAL PROPERTIES FROM YOUR FORM
        // Example validation - adjust based on your actual form fields
        var prop1 = $("#prop1").val();
        if (!prop1) {
            Swal.fire('Warning', 'Please enter Property 1', 'warning');
            isValid = false;
        }

        var prop2 = $("#prop2").val();
        if (!prop2) {
            Swal.fire('Warning', 'Please enter Property 2', 'warning');
            isValid = false;
        }

        if (!isValid) {
            return;
        }

        var {{ page_name|lower }} = {
            // TODO: MAP ALL PROPERTIES FROM YOUR FORM
            Property1: prop1,
            Property2: prop2
            // Add other properties as needed
        };
        console.log({{ page_name|lower }});

        ShowProgress();
        $.ajax({
            type: "POST",
            url: "/{{ page_name }}/Submit{{ page_name }}",
            data: JSON.stringify({{ page_name|lower }}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                HideProgress();
                if (data.success) {
                    View{{ page_name }}Doc(data.docNo);
                } else {
                    Swal.fire('Warning', data.message, 'warning');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err.responseText, 'warning');
            }
        });
    }

    // Function to navigate back to list - implement as needed
    function {{ page_name }}Link() {
        window.location.href = '/{{ page_name }}';
    }
</script>